{% block frosh_widget_pending_reviews %}
<div class="frosh-widget-pending-reviews">

    {% block frosh_widget_pending_reviews_no_acl %}
    <div v-if="!acl.can('review.viewer')" class="frosh-widget-pending-reviews__empty">
        {{ $tc('frosh-admin-dashboard.widget.pendingReviews.noAccess') }}
    </div>
    {% endblock %}

    {% block frosh_widget_pending_reviews_grid %}
    <sw-data-grid
        v-else
        class="frosh-widget-pending-reviews__grid"
        :data-source="reviews"
        :columns="columns"
        :is-loading="isLoading"
        :show-selection="false"
        :show-actions="false"
        :plain-appearance="true"
        :allow-inline-edit="false"
        :allow-column-edit="false"
    >
        {% block frosh_widget_pending_reviews_column_title %}
        <template #column-title="{ item }">
            <router-link :to="{ name: 'sw.review.detail', params: { id: item.id } }">
                {{ item.title }}
            </router-link>
        </template>
        {% endblock %}

        {% block frosh_widget_pending_reviews_column_points %}
        <template #column-points="{ item }">
            <sw-rating-stars :value="item.points" />
        </template>
        {% endblock %}

        {% block frosh_widget_pending_reviews_column_product %}
        <template #column-product="{ item }">
            <router-link
                v-if="item.productId && item.product"
                :to="{ name: 'sw.product.detail', params: { id: item.productId } }"
            >
                {{ item.product.translated.name }}
            </router-link>
        </template>
        {% endblock %}

        {% block frosh_widget_pending_reviews_column_user %}
        <template #column-user="{ item }">
            <template v-if="item.customer">
                {{ item.customer.lastName }}, {{ item.customer.firstName }}
            </template>
            <template v-else>
                {{ item.externalUser }}
            </template>
        </template>
        {% endblock %}

        {% block frosh_widget_pending_reviews_column_actions %}
        <template #column-actions="{ item }">
            <div class="frosh-widget-pending-reviews__actions">
                <mt-button
                    variant="primary"
                    size="x-small"
                    :is-loading="isProcessing(item.id)"
                    :disabled="!acl.can('review.editor') || isProcessing(item.id)"
                    @click="onApprove(item)"
                >
                    {{ $tc('frosh-admin-dashboard.widget.pendingReviews.approve') }}
                </mt-button>
                <mt-button
                    variant="critical"
                    size="x-small"
                    :disabled="!acl.can('review.deleter') || isProcessing(item.id)"
                    @click="onDeclineRequest(item)"
                >
                    {{ $tc('frosh-admin-dashboard.widget.pendingReviews.decline') }}
                </mt-button>
            </div>
        </template>
        {% endblock %}

        {% block frosh_widget_pending_reviews_empty %}
        <template #empty-state>
            <div class="frosh-widget-pending-reviews__empty">
                {{ $tc('frosh-admin-dashboard.widget.pendingReviews.empty') }}
            </div>
        </template>
        {% endblock %}
    </sw-data-grid>
    {% endblock %}

    {% block frosh_widget_pending_reviews_delete_modal %}
    <sw-modal
        v-if="reviewToDelete"
        class="frosh-widget-pending-reviews__delete-modal"
        variant="small"
        :title="$tc('frosh-admin-dashboard.widget.pendingReviews.deleteModalTitle')"
        @modal-close="onDeclineCancel"
    >
        {% block frosh_widget_pending_reviews_delete_modal_body %}
        <p class="frosh-widget-pending-reviews__delete-text">
            {{ $tc('frosh-admin-dashboard.widget.pendingReviews.deleteModalText', { title: reviewToDelete.title }) }}
        </p>
        {% endblock %}

        {% block frosh_widget_pending_reviews_delete_modal_footer %}
        <template #modal-footer>
            <mt-button
                size="small"
                variant="secondary"
                @click="onDeclineCancel"
            >
                {{ $tc('global.default.cancel') }}
            </mt-button>
            <mt-button
                size="small"
                variant="critical"
                :is-loading="reviewToDelete && isProcessing(reviewToDelete.id)"
                @click="onDeclineConfirm"
            >
                {{ $tc('frosh-admin-dashboard.widget.pendingReviews.deleteConfirm') }}
            </mt-button>
        </template>
        {% endblock %}
    </sw-modal>
    {% endblock %}
</div>
{% endblock %}
